.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 10px 12px 15px 7px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 12px 15px 7px rgba(125, 124, 124, 0.47);
  border-radius: 10px;
  height: 150px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: gray;
    }

    .counter2 {
      font-size: 28px;
      font-weight: 600;
      background: #c8102e;
      background: linear-gradient(
        to right,
        #c8102e 0%,
        #bec0c2 50%,
        #1d428a 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .link {
      width: max-content;
      font-size: 12px;
    }

    .player2 img {
      width: 80px;
      height: auto;
      margin-top: -25px;
    }

    .players-name {
      .name {
        width: max-content;
        font-size: 16px;

        &:hover {
          cursor: pointer;
          background: #c8102e;
          background: linear-gradient(
            to right,
            #c8102e 0%,
            #bec0c2 50%,
            #1d428a 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
